.auth-container {
  background: url("../public/img/backgroundLogin.png");
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 8% 4%;
}

.auth__card {
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(#201344, #36285f),
    url("../public/img/backgroundCilp.jpg"),
    url("../public/img/backgroundLogin.png");
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: screen;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  color: white;
  &__left {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__head {
      display: flex;
      align-items: center;
      h2 {
        margin-left: 1rem;
      }
      img {
        border-radius: 50%;
      }
    }
  }
  &__right {
    flex: 4;
  }
}
