@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
$font-zen: 'Zen Loop', cursive;
$font-jose: 'Josefin Slab', serif;
$font-ultra: 'Ultra', serif;
$font-stix: 'STIX Two Math', serif;

.auth-background{
  background: linear-gradient(180deg, #201344 54.69%, rgba(54, 40, 95, 0.9) 83.85%
  , #6D36E3 99.91%, rgba(54, 40, 95, 0.856857) 99.92%, rgba(54, 40, 95, 0.68) 99.93%, rgba(54, 40, 95, 0.809843) 99.94%);
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0px 4px 100px rgba(0, 0, 0, 0.46);

}

.auth-container {
  background-image: url("../images/background.jpg"), linear-gradient(179.66deg, #FFFFFF 0.29%, #B5F8CC 38.58%, #90C4F4 100.99%);
  background-size: cover;
  background-position: -40px 90%;
  height: 100vh;
  width: 100vw;
  padding: 8% 4%;
  mix-blend-mode: lighten;
  box-shadow: 30px 40px 50px rgba(0, 0, 0, 0.25);
}

.auth__card {
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:70%;
  height: 100%;
  border-radius: 20px;
  background:transparent;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: white;
  &__left {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__head {
      display: flex;
      flex:4;
      align-items: flex-start;
      span{
        position: relative;
        top:10px; left:20px;
        font-family: Syncopate;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
      }
      img {
        border-radius: 50%;
      }
    }
    &__content{
      display: flex;
      flex:5;
      flex-direction:column;
      align-items: center;
      h1{
        font-family: Rubik One;
        font-weight: 900;
        font-size: 2rem;
      }
      span{
        margin-top: 10px;
        font-family: Rubik One;
        font-weight: 900;
        font-size: 1.1rem;
      }
    }
    &__footer{
      display: flex;
      flex: 3;
      flex-direction:column;
      align-items: center;
      span{
        font-family: $font-zen;
        font-size: 1.2rem;
      }
      button{
        outline:none;
        background:transparent;
        color: #54FFD6;
        font-family: $font-zen;
        font-size: 1.6rem;
        font-weight: 900;
        border:none;
        background: rgba(0, 0, 0, 0.3);
        padding:5px;
        border-radius:20px;
        backdrop-filter: blur(100px);
        &:hover{
          cursor: pointer;
        }
        
      }
      div{
        min-width:30%;
        height:10px;
        border-bottom: 2px solid white;
      }
    }
  }
  &__right {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(233, 143, 255, 0.5);
    backdrop-filter: blur(50px);
    border-radius: 20%;
    flex: 4;
    display: flex;
    flex-direction: column;
    &__head{
      display: flex;
      flex:6;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 30px;
      h1{
        font-family: $font-ultra;
        font-size: 2rem;
        font-weight:100;
      }
      div{
        position: relative;
        width:70%;
        height:50px;
        font-family: $font-jose;
        color:white;
        font-size:1.2rem;
        margin-top:20px; 
        input{
          border:none;
          padding-top: 20px;
          background:transparent;
          outline:none;
          width:100%;
          height:100%;
          color:white;
        }
        label{
          z-index:-1;
          position: absolute;
          top:0; left:0;
          width:100%;
          height:100%;
          &::after{
            content:"";
            position: absolute;
            left:0; bottom:-1px;
            width:100%; height:100%;
            border-bottom: 3px solid rgba(white,0.4);
          }
        }
      }
      button{
        margin-top: 20px;
        font-family: $font-jose;
        font-size:1.6rem;
        padding:0.3rem 3rem;
        border-radius: 20px;
        color:white;
        background: black;
        border: 1px solid #FB25FF;
        backdrop-filter: blur(100px);
        margin-bottom: 5px;
        outline:none;
        transition: 1s ease;
        &:hover{
          cursor: pointer;
          color:#54FFD6;
        }
      }
      span{
        margin:0;
        font-family: $font-stix;
        font-size:0.8rem;
        color: rgba(white,0.4);
        width:50%;
        height:auto;
        text-align:center;
        outline:none;
        transition: 1s ease;
        &:hover{
          cursor: pointer;
          color:white;
        }
      }
      margin-bottom: 50px;
    }
    &__footer{
      display: flex;
      flex:3;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      h5{
        font-family: $font-jose;
        margin-bottom: 15px;
      }
      div{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
        justify-content: space-around;
        align-items:center;
        button{
          width:30px;
          height:30px;
          background:transparent;
          font-size: 32px;
          border-radius:50%;
          border:none;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
  &::after{
    z-index:-1;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
    border-radius:20px;
    background-image: url("../images/card-background.jpg");
    mix-blend-mode: darken;
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
  }
}