.nav {
    position: relative;
    height: $nav-height;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
    background: transparent;
    width: 100%;
    &__float {
        position: absolute;
        background: rgba(#6426b6, 0.4);
        mix-blend-mode: darken;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 90;
        &__top {
            position: relative;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            img {
                border-radius: 50%;
            }
            span {
                font-family: $font-oswald;
                font-weight: 300;
                font-size: 1.5rem;
                color: rgb(245, 245, 245);
                margin: 0.5rem;
            }
            .line {
                position: relative;
                bottom: 1rem;
                width: 100%;
                border-top: 1px solid gray;
            }
            .logout-box {
                font-family: $font-oswald;
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                background: rgba(#110b21, 1);
                div {
                    line-height: 0.4rem;
                    div {
                        color: white;
                        font-size: 1rem;
                    }
                    span {
                        color: gray;
                        font-size: 0.7rem;
                    }
                }
                button {
                    margin-top: 1rem;
                    background: none;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    color: white;
                    background: rgba(#110b21, 0.5);
                    border-radius: 10px;
                    box-shadow: 1px 1px 7px 3px rgba(255, 255, 255, 0.22);
                    padding: 0.3rem 2rem;
                    cursor: pointer;
                    transition: ease 0.5s;
                }
                button:hover {
                    color: #48f36e;
                }
            }
        }
        &__list {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            list-style: none;
            font-size: 1.5rem;
            font-family: $font-oswald;
            color: white;
            line-height: 4rem;
            li {
                position: relative;
                top: 10px;
                cursor: pointer;
                transition: ease 0.5s;
            }
            li:hover {
                color: #48f36e;
            }
            div {
                position: relative;
                left: 10px;
            }
            span {
                position: fixed;
                bottom: 0;
                color: #48f36e;
                font-size: 0.8rem;
            }
        }
    }
    .hidden {
        transform: translateX(-320px);
    }
}
