.nav {
    position: relative;
    height: $nav-height;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
    background: transparent;
    width: 100%;
    &__float {
        position: absolute;
        background: rgba(#6426b6, 0.4);
        mix-blend-mode: darken;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 90;
        &__top {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            img {
                border-radius: 50%;
            }
            span {
                font-family: $font-oswald;
                font-weight: 300;
                font-size: 1.5rem;
                color: rgb(245, 245, 245);
                margin: 0.5rem;
            }
            .line {
                position: relative;
                bottom: 1rem;
                width: 100%;
                border-top: 1px solid gray;
            }
        }
        &__list {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            list-style: none;
            font-size: 1.5rem;
            font-family: $font-oswald;
            color: white;
            line-height: 4rem;
            li {
                position: relative;
                top: 10px;
                cursor: pointer;
                transition: ease 0.5s;
            }
            li:hover {
                color: #48f36e;
            }
            div {
                position: relative;
                left: 10px;
            }
            span {
                position: relative;
                top: 2rem;
                color: #48f36e;
                font-size: 0.8rem;
            }
        }
    }
    .hidden {
        transform: translateX(-320px);
    }
}
